@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif !important; }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
}
.fill img {
  flex-shrink: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}